@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button, textarea {
  font: inherit;
  border: none;
  outline: none;
}

hr {
  margin-bottom: 20px;
  width: 99%;
  border: 1px solid gray;
}

body {
  background: linear-gradient(180deg, rgb(245, 215, 216) 0%, rgb(250, 242, 240) 100%);
}