.footer {
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
}

.rights {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
  .rights {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .rights {
    font-size: 1rem;
  }
}
